Repository TilBlechschmidt/NAK-IAA, changes with the owners that .github/CODEOWNERS names for each.
All owners: @TilBlechschmidt, @NoahPeeters, @hpr1999, @HenryWedge

Rename isCompleted to isClosed
  api/specification/surveys/query.ts
  backend/src/main/java/de/nordakademie/iaa/noodle/controller/SurveyController.java
  backend/src/main/java/de/nordakademie/iaa/noodle/dao/SurveyRepository.java
  backend/src/main/java/de/nordakademie/iaa/noodle/services/SurveyService.java
  frontend/src/app/survey/survey-tab-view/survey-tab-view.component.html
  frontend/src/app/survey/tabs/abstract-survey-table/abstract-survey-table.component.ts
  frontend/src/app/survey/tabs/tables/abstractSurveyTable.component.ts
Owners: @TilBlechschmidt, @NoahPeeters, @hpr1999, @HenryWedge

Do not delete responses during simple updates
  backend/src/main/java/de/nordakademie/iaa/noodle/services/SurveyService.java
  backend/src/main/java/de/nordakademie/iaa/noodle/services/TimeslotService.java
  backend/src/main/java/de/nordakademie/iaa/noodle/services/model/TimeslotCreationData.java
Owners: @TilBlechschmidt, @NoahPeeters, @hpr1999, @HenryWedge

Return 401 Unauthorized
  api/specification/types.ts
  backend/src/main/java/de/nordakademie/iaa/noodle/config/JWTAuthEntryPoint.java
  backend/src/main/java/de/nordakademie/iaa/noodle/config/WebSecurityConfig.java
Owners: @TilBlechschmidt, @NoahPeeters, @hpr1999, @HenryWedge

delete token on 401 in frontend
  frontend/src/app/authentication/service/api-interceptor.service.ts
Owners: @TilBlechschmidt, @NoahPeeters, @hpr1999, @HenryWedge

test fix
  frontend/src/app/authentication/service/api-interceptor.service.spec.ts
  frontend/src/app/authentication/service/api-interceptor.service.ts
Owners: @TilBlechschmidt, @NoahPeeters, @hpr1999, @HenryWedge

automatic logout after unauthorized request
  frontend/src/app/authentication/service/api-interceptor.service.ts
  frontend/src/app/authentication/service/token.service.ts
Owners: @TilBlechschmidt, @NoahPeeters, @hpr1999, @HenryWedge

Validate api input
  backend/build.gradle
  backend/src/main/resources/application.properties
Owners: @NoahPeeters, @hpr1999, @TilBlechschmidt, @HenryWedge

Timeslot end date must be optional
  api/specification/surveys/types.ts
  frontend/src/app/survey/detail/detail-view/detail-view.component.ts
  frontend/src/app/survey/detail/result-overview/result-overview.component.ts
Owners: @TilBlechschmidt, @NoahPeeters, @hpr1999, @HenryWedge

Add interfaces for services
  backend/src/main/java/de/nordakademie/iaa/noodle/controller/AccountController.java
  backend/src/main/java/de/nordakademie/iaa/noodle/controller/ResponseController.java
  backend/src/main/java/de/nordakademie/iaa/noodle/controller/SurveyController.java
  backend/src/main/java/de/nordakademie/iaa/noodle/filter/JWTAuthorizationFilter.java
  backend/src/main/java/de/nordakademie/iaa/noodle/mapper/ResponseMapper.java
  backend/src/main/java/de/nordakademie/iaa/noodle/mapper/SurveyMapper.java
  backend/src/main/java/de/nordakademie/iaa/noodle/services/implementation/JWTServiceImpl.java
  backend/src/main/java/de/nordakademie/iaa/noodle/services/implementation/MailServiceImpl.java
  backend/src/main/java/de/nordakademie/iaa/noodle/services/implementation/ParticipationServiceImpl.java
  backend/src/main/java/de/nordakademie/iaa/noodle/services/implementation/PasswordServiceImpl.java
  backend/src/main/java/de/nordakademie/iaa/noodle/services/implementation/ResponseServiceImpl.java
  backend/src/main/java/de/nordakademie/iaa/noodle/services/implementation/SignInServiceImpl.java
  backend/src/main/java/de/nordakademie/iaa/noodle/services/implementation/SignUpServiceImpl.java
  backend/src/main/java/de/nordakademie/iaa/noodle/services/implementation/SurveyServiceImpl.java
  backend/src/main/java/de/nordakademie/iaa/noodle/services/implementation/TimeslotServiceImpl.java
  backend/src/main/java/de/nordakademie/iaa/noodle/services/implementation/UserServiceImpl.java
  backend/src/main/java/de/nordakademie/iaa/noodle/services/interfaces/JWTService.java
  backend/src/main/java/de/nordakademie/iaa/noodle/services/interfaces/MailService.java
  backend/src/main/java/de/nordakademie/iaa/noodle/services/interfaces/ParticipationService.java
  backend/src/main/java/de/nordakademie/iaa/noodle/services/interfaces/PasswordService.java
  backend/src/main/java/de/nordakademie/iaa/noodle/services/interfaces/ResponseService.java
  backend/src/main/java/de/nordakademie/iaa/noodle/services/interfaces/SignInService.java
  backend/src/main/java/de/nordakademie/iaa/noodle/services/interfaces/SignUpService.java
  backend/src/main/java/de/nordakademie/iaa/noodle/services/interfaces/SurveyService.java
  backend/src/main/java/de/nordakademie/iaa/noodle/services/interfaces/TimeslotService.java
  backend/src/main/java/de/nordakademie/iaa/noodle/services/interfaces/UserService.java
  backend/src/main/java/de/nordakademie/iaa/noodle/services/model/AuthenticatedUser.java
  backend/src/test/java/de/nordakademie/iaa/noodle/controller/AccountControllerTest.java
  backend/src/test/java/de/nordakademie/iaa/noodle/controller/ResponseControllerTest.java
  backend/src/test/java/de/nordakademie/iaa/noodle/controller/SurveyControllerTest.java
  backend/src/test/java/de/nordakademie/iaa/noodle/services/JWTServiceTest.java
  backend/src/test/java/de/nordakademie/iaa/noodle/services/MailServiceTest.java
  backend/src/test/java/de/nordakademie/iaa/noodle/services/ParticipationServiceTest.java
  backend/src/test/java/de/nordakademie/iaa/noodle/services/PasswordServiceTest.java
  backend/src/test/java/de/nordakademie/iaa/noodle/services/SignInServiceTest.java
  backend/src/test/java/de/nordakademie/iaa/noodle/services/SignUpServiceTest.java
  backend/src/test/java/de/nordakademie/iaa/noodle/services/SurveyServiceTest.java
  backend/src/test/java/de/nordakademie/iaa/noodle/services/TimeslotServiceTest.java
  backend/src/test/java/de/nordakademie/iaa/noodle/services/UserServiceTest.java
Owners: @TilBlechschmidt, @NoahPeeters, @hpr1999, @HenryWedge

Fix constraint errors
  backend/src/main/java/de/nordakademie/iaa/noodle/services/implementation/ResponseServiceImpl.java
Owners: @TilBlechschmidt, @NoahPeeters, @hpr1999, @HenryWedge

Check for duplicate timeslots in responses
  api/specification/surveys/responses/create.ts
  api/specification/surveys/responses/update.ts
  backend/src/main/java/de/nordakademie/iaa/noodle/controller/ResponseController.java
  backend/src/main/java/de/nordakademie/iaa/noodle/mapper/ResponseMapper.java
  backend/src/main/java/de/nordakademie/iaa/noodle/services/implementation/ResponseServiceImpl.java
  backend/src/main/java/de/nordakademie/iaa/noodle/services/interfaces/ResponseService.java
  backend/src/main/java/de/nordakademie/iaa/noodle/services/model/ResponseValue.java
Owners: @TilBlechschmidt, @NoahPeeters, @hpr1999, @HenryWedge

Code reformat
  backend/src/main/java/de/nordakademie/iaa/noodle/services/implementation/TimeslotServiceImpl.java
Owners: @TilBlechschmidt, @NoahPeeters, @hpr1999, @HenryWedge

Add comment to the flush operation
  backend/src/main/java/de/nordakademie/iaa/noodle/services/implementation/ResponseServiceImpl.java
Owners: @TilBlechschmidt, @NoahPeeters, @hpr1999, @HenryWedge

Add response service test
  backend/src/test/java/de/nordakademie/iaa/noodle/services/ResponseServiceTest.java
Owners: @TilBlechschmidt, @NoahPeeters, @hpr1999, @HenryWedge

Add mapper tests
  backend/src/test/java/de/nordakademie/iaa/noodle/mapper/ResponseConverterTest.java
  backend/src/test/java/de/nordakademie/iaa/noodle/mapper/SurveyConverterTest.java
  backend/src/test/java/de/nordakademie/iaa/noodle/mapper/TimeslotMapperTest.java
  backend/src/test/java/de/nordakademie/iaa/noodle/mapper/UserConverterTest.java
  backend/src/test/java/de/nordakademie/iaa/noodle/mapper/UserMapperTest.java
Owners: @TilBlechschmidt, @NoahPeeters, @hpr1999, @HenryWedge

Add more timeslot service tests
  backend/src/test/java/de/nordakademie/iaa/noodle/mapper/TimeslotMapperTest.java
  backend/src/test/java/de/nordakademie/iaa/noodle/mapper/UserMapperTest.java
  backend/src/test/java/de/nordakademie/iaa/noodle/services/ResponseServiceTest.java
  backend/src/test/java/de/nordakademie/iaa/noodle/services/SurveyServiceTest.java
  backend/src/test/java/de/nordakademie/iaa/noodle/services/TimeslotServiceTest.java
Owners: @TilBlechschmidt, @NoahPeeters, @hpr1999, @HenryWedge

:sparkles: integrate close survey component in result overview
  frontend/src/app/survey/close-survey/close-survey-button/close-survey-button.component.ts
  frontend/src/app/survey/close-survey/close-survey.component.html
  frontend/src/app/survey/close-survey/close-survey.component.ts
  frontend/src/app/survey/detail/result-overview/result-overview.component.html
  frontend/src/app/survey/detail/result-overview/result-overview.component.ts
Owners: @TilBlechschmidt, @NoahPeeters, @hpr1999, @HenryWedge

:sparkles: add close survey button
  frontend/src/app/app.module.ts
  frontend/src/app/survey/close-survey/close-survey-button/close-survey-button.component.html
  frontend/src/app/survey/close-survey/close-survey-button/close-survey-button.component.sass
  frontend/src/app/survey/close-survey/close-survey-button/close-survey-button.component.spec.ts
  frontend/src/app/survey/close-survey/close-survey-button/close-survey-button.component.ts
  frontend/src/app/survey/close-survey/close-survey.component.html
  frontend/src/app/survey/close-survey/close-survey.component.sass
  frontend/src/app/survey/close-survey/close-survey.component.spec.ts
  frontend/src/app/survey/close-survey/close-survey.component.ts
  frontend/src/app/survey/create/new-survey-button/new-survey-button.component.ts
  frontend/src/assets/i18n/dev.json
  frontend/src/assets/i18n/translations/de.json
  frontend/src/assets/i18n/translations/en.json
Owners: @TilBlechschmidt, @NoahPeeters, @hpr1999, @HenryWedge

:sparkles: add close survey button
  frontend/src/app/app.module.ts
  frontend/src/app/survey/close-survey/close-survey-button/close-survey-button.component.html
  frontend/src/app/survey/close-survey/close-survey-button/close-survey-button.component.spec.ts
  frontend/src/app/survey/close-survey/close-survey-button/close-survey-button.component.ts
  frontend/src/app/survey/close-survey/close-survey.component.html
  frontend/src/app/survey/close-survey/close-survey.component.sass
  frontend/src/app/survey/close-survey/close-survey.component.spec.ts
  frontend/src/app/survey/close-survey/close-survey.component.ts
  frontend/src/app/survey/detail/detail-view/detail-view.component.html
  frontend/src/app/survey/detail/detail-view/detail-view.component.ts
  frontend/src/app/survey/detail/result-overview/result-overview.component.html
  frontend/src/app/survey/detail/result-overview/result-overview.component.sass
  frontend/src/app/survey/detail/result-overview/result-overview.component.ts
Owners: @TilBlechschmidt, @NoahPeeters, @hpr1999, @HenryWedge

:lipstick: polish ui behaviour
  frontend/src/app/survey/create/create-survey-dialog/create-survey-dialog.component.sass
  frontend/src/app/survey/create/new-survey-button/new-survey-button.component.ts
  frontend/src/app/survey/detail/delete-survey/delete-survey.component.ts
  frontend/src/app/survey/detail/detail-view/detail-view.component.sass
  frontend/src/app/survey/detail/detail-view/detail-view.component.ts
  frontend/src/app/survey/survey-tab-view/survey-tab-view.component.html
Owners: @TilBlechschmidt, @NoahPeeters, @hpr1999, @HenryWedge

:sparkles: add close survey button
  frontend/src/app/survey/detail/result-overview/result-overview.component.ts
Owners: @TilBlechschmidt, @NoahPeeters, @hpr1999, @HenryWedge

:sparkles: change result overview to angular table components
  frontend/src/app/survey/detail/result-overview/result-overview.component.html
  frontend/src/app/survey/detail/result-overview/result-overview.component.sass
  frontend/src/app/survey/detail/result-overview/result-overview.component.ts
Owners: @TilBlechschmidt, @NoahPeeters, @hpr1999, @HenryWedge

:sparkles: add usability improvements
  frontend/src/app/app-routing.module.ts
  frontend/src/app/survey/close-survey/close-survey-button/close-survey-button.component.ts
  frontend/src/app/survey/close-survey/close-survey.component.html
  frontend/src/app/survey/close-survey/close-survey.component.ts
  frontend/src/app/survey/create/create-survey-dialog/create-survey-dialog.component.spec.ts
  frontend/src/app/survey/create/create-survey-dialog/create-survey-dialog.component.ts
  frontend/src/app/survey/detail/detail-view/detail-view.component.html
  frontend/src/app/survey/detail/detail-view/detail-view.component.sass
  frontend/src/app/survey/detail/detail-view/detail-view.component.ts
  frontend/src/app/survey/detail/response/response.component.html
  frontend/src/app/survey/detail/response/response.component.sass
  frontend/src/app/survey/detail/response/response.component.ts
  frontend/src/app/survey/detail/result-overview/result-overview.component.html
  frontend/src/app/survey/detail/result-overview/result-overview.component.ts
  frontend/src/app/survey/survey-tab-view/survey-tab-view.component.html
  frontend/src/app/survey/survey-tab-view/survey-tab-view.component.ts
  frontend/src/app/survey/tabs/abstract-survey-table/abstract-survey-table.component.html
  frontend/src/assets/i18n/dev.json
  frontend/src/assets/i18n/translations/de.json
  frontend/src/assets/i18n/translations/en.json
  frontend/src/environments/environment.ts
Owners: @TilBlechschmidt, @NoahPeeters, @hpr1999, @HenryWedge

Add acceptsSelectedTimeslot
  api/specification/surveys/query.ts
  backend/src/main/java/de/nordakademie/iaa/noodle/controller/SurveyController.java
  backend/src/main/java/de/nordakademie/iaa/noodle/dao/SurveyRepository.java
  backend/src/main/java/de/nordakademie/iaa/noodle/services/implementation/SurveyServiceImpl.java
  backend/src/main/java/de/nordakademie/iaa/noodle/services/interfaces/SurveyService.java
  backend/src/main/resources/data.sql
  backend/src/test/java/de/nordakademie/iaa/noodle/controller/SurveyControllerTest.java
  backend/src/test/java/de/nordakademie/iaa/noodle/dao/SurveyRepositoryTest.java
  backend/src/test/java/de/nordakademie/iaa/noodle/services/SurveyServiceTest.java
Owners: @TilBlechschmidt, @NoahPeeters, @hpr1999, @HenryWedge

Add selected timeslot to survey query item
  api/specification/surveys/query.ts
  api/specification/surveys/types.ts
  backend/src/main/java/de/nordakademie/iaa/noodle/dao/SurveyRepository.java
  backend/src/main/java/de/nordakademie/iaa/noodle/dao/model/QuerySurveysItem.java
Owners: @TilBlechschmidt, @NoahPeeters, @hpr1999, @HenryWedge

Update survey url in mail service
  backend/src/main/java/de/nordakademie/iaa/noodle/services/implementation/MailServiceImpl.java
  backend/src/test/java/de/nordakademie/iaa/noodle/services/MailServiceTest.java
Owners: @TilBlechschmidt, @NoahPeeters, @hpr1999, @HenryWedge

Add CustomGlobalExceptionHandler
  backend/src/main/java/de/nordakademie/iaa/noodle/filter/CustomGlobalExceptionHandler.java
Owners: @TilBlechschmidt, @NoahPeeters, @hpr1999, @HenryWedge

fix: :globe_with_meridians: Fix a weird word
  frontend/src/assets/i18n/translations/de.json
Owners: @TilBlechschmidt, @NoahPeeters, @hpr1999, @HenryWedge

fix: :globe_with_meridians: Change up the localization a bit
  frontend/src/assets/i18n/translations/de.json
  frontend/src/assets/i18n/translations/en.json
Owners: @TilBlechschmidt, @NoahPeeters, @hpr1999, @HenryWedge

fix: :rotating_light: Fix linter issue
  frontend/src/app/survey/tabs/abstract-survey-table/abstract-survey-table.component.ts
Owners: @TilBlechschmidt, @NoahPeeters, @hpr1999, @HenryWedge

fix: :bug: Use correct filters for Tabs
  frontend/src/app/survey/survey-tab-view/survey-tab-view.component.html
  frontend/src/app/survey/tabs/abstract-survey-table/abstract-survey-table.component.ts
  frontend/src/app/survey/tabs/dashboard/notification/notification.component.ts
Owners: @TilBlechschmidt, @NoahPeeters, @hpr1999, @HenryWedge

:bug: add validation that update survey timeslots is are not empty
  frontend/src/app/survey/detail/detail-view/detail-view.component.html
  frontend/src/app/survey/detail/detail-view/detail-view.component.ts
  frontend/src/assets/i18n/dev.json
  frontend/src/assets/i18n/translations/de.json
  frontend/src/assets/i18n/translations/en.json
Owners: @TilBlechschmidt, @NoahPeeters, @hpr1999, @HenryWedge

:sparkles: disable save button in view mode when not responded
  frontend/src/app/survey/detail/detail-view/detail-view.component.html
  frontend/src/app/survey/detail/detail-view/detail-view.component.ts
Owners: @TilBlechschmidt, @NoahPeeters, @hpr1999, @HenryWedge

:sparkles: won't send ids of timeslots when they are edited
  frontend/src/app/survey/detail/detail-view/detail-view.component.ts
Owners: @TilBlechschmidt, @NoahPeeters, @hpr1999, @HenryWedge

:bug: send all responses after edit of response and not only the edited
  frontend/src/app/survey/detail/detail-view/detail-view.component.ts
Owners: @TilBlechschmidt, @NoahPeeters, @hpr1999, @HenryWedge

:bug: click multiple times on respond component not cause a server error
  frontend/src/app/survey/detail/detail-view/detail-view.component.ts
Owners: @TilBlechschmidt, @NoahPeeters, @hpr1999, @HenryWedge

:bug: disallow creating the same timeslot twice in create survey
  frontend/src/app/survey/create/create-survey-dialog/create-survey-dialog.component.html
  frontend/src/app/survey/create/create-survey-dialog/create-survey-dialog.component.ts
  frontend/src/app/survey/detail/detail-view/detail-view.component.ts
  frontend/src/assets/i18n/dev.json
  frontend/src/assets/i18n/translations/de.json
  frontend/src/assets/i18n/translations/en.json
Owners: @TilBlechschmidt, @NoahPeeters, @hpr1999, @HenryWedge

:arrow_up: Upgrade all dependencies and replace momentjs with date-fns
  frontend/angular.json
  frontend/package.json
  frontend/src/app/date.service.ts
  frontend/src/app/survey/close-survey/close-survey-button/close-survey-button.component.ts
  frontend/src/app/survey/close-survey/close-survey.component.html
  frontend/src/app/survey/close-survey/close-survey.component.spec.ts
  frontend/src/app/survey/close-survey/close-survey.component.ts
  frontend/src/app/survey/create/create-survey-dialog/create-survey-dialog.component.ts
  frontend/src/app/survey/detail/detail-view/detail-view.component.html
  frontend/src/app/survey/detail/detail-view/detail-view.component.ts
  frontend/src/app/survey/detail/response/response.component.ts
  frontend/src/app/survey/detail/result-overview/result-overview.component.ts
  frontend/yarn.lock
Owners: @TilBlechschmidt, @HenryWedge, @NoahPeeters, @hpr1999

:arrow_up: Upgrade all dependencies and replace momentjs with date-fns
  frontend/angular.json
  frontend/package.json
  frontend/src/app/date.service.ts
  frontend/src/app/survey/close-survey/close-survey-button/close-survey-button.component.ts
  frontend/src/app/survey/close-survey/close-survey.component.html
  frontend/src/app/survey/close-survey/close-survey.component.spec.ts
  frontend/src/app/survey/close-survey/close-survey.component.ts
  frontend/src/app/survey/create/create-survey-dialog/create-survey-dialog.component.ts
  frontend/src/app/survey/detail/detail-view/detail-view.component.html
  frontend/src/app/survey/detail/detail-view/detail-view.component.ts
  frontend/src/app/survey/detail/response/response.component.ts
  frontend/src/app/survey/detail/result-overview/result-overview.component.ts
  frontend/yarn.lock
Owners: @TilBlechschmidt, @HenryWedge, @NoahPeeters, @hpr1999

:children_crossing: Change localStorage for sessionStorage
  frontend/src/app/authentication/service/token.service.ts
Owners: @TilBlechschmidt, @NoahPeeters, @hpr1999, @HenryWedge

.github/CODEOWNERS:

# These owners will be the default owners for everything in the repo.
*           @TilBlechschmidt @NoahPeeters @hpr1999 @HenryWedge

api/*       @TilBlechschmidt
backend/*   @NoahPeeters @hpr1999
frontend/*  @TilBlechschmidt @HenryWedge
