Repository TilBlechschmidt/NAK-IAA, changes with the owners that .github/CODEOWNERS names for each.
All owners: @TilBlechschmidt, @NoahPeeters, @hpr1999, @HenryWedge

:children_crossing: Change localStorage for sessionStorage
  frontend/src/app/authentication/service/token.service.ts
Owners: @TilBlechschmidt, @NoahPeeters, @hpr1999, @HenryWedge

:wrench: Move API through proxy to /api
  frontend/proxy.conf.json
  frontend/src/environments/environment.ts
  frontend/src/favicon.ico
Owners: @TilBlechschmidt, @HenryWedge, @NoahPeeters, @hpr1999

:wrench: Move API through proxy to /api
  frontend/proxy.conf.json
  frontend/src/environments/environment.ts
  frontend/src/favicon.ico
Owners: @TilBlechschmidt, @HenryWedge, @NoahPeeters, @hpr1999

:children_crossing: Streamline the survey edit workflow
  frontend/src/app/survey/detail/detail-view/detail-view.component.html
  frontend/src/app/survey/detail/detail-view/detail-view.component.ts
  frontend/src/assets/i18n/dev.json
  frontend/src/assets/i18n/translations/de.json
  frontend/src/assets/i18n/translations/en.json
Owners: @TilBlechschmidt, @NoahPeeters, @hpr1999, @HenryWedge

:bug: Make various minor bug fixes and UX improvements
  frontend/src/app/date.service.ts
  frontend/src/app/survey/detail/detail-view/detail-view.component.html
  frontend/src/app/survey/detail/detail-view/detail-view.component.ts
  frontend/src/app/survey/detail/edit-view-warn/edit-survey-warn.component.html
  frontend/src/app/survey/detail/edit-view-warn/edit-survey-warn.component.sass
  frontend/src/app/survey/detail/response/response.component.html
  frontend/src/app/survey/detail/response/response.component.ts
  frontend/src/assets/i18n/translations/de.json
  frontend/src/assets/i18n/translations/en.json
Owners: @TilBlechschmidt, @NoahPeeters, @hpr1999, @HenryWedge

:bug: Make various minor bug fixes and UX improvements
  frontend/src/app/date.service.ts
  frontend/src/app/survey/detail/detail-view/detail-view.component.html
  frontend/src/app/survey/detail/detail-view/detail-view.component.ts
  frontend/src/app/survey/detail/edit-view-warn/edit-survey-warn.component.html
  frontend/src/app/survey/detail/edit-view-warn/edit-survey-warn.component.sass
  frontend/src/app/survey/detail/response/response.component.html
  frontend/src/app/survey/detail/response/response.component.ts
  frontend/src/assets/i18n/translations/de.json
  frontend/src/assets/i18n/translations/en.json
Owners: @TilBlechschmidt, @NoahPeeters, @hpr1999, @HenryWedge

:children_crossing: Streamline the survey edit workflow
  frontend/src/app/survey/detail/detail-view/detail-view.component.html
  frontend/src/app/survey/detail/detail-view/detail-view.component.ts
  frontend/src/assets/i18n/dev.json
  frontend/src/assets/i18n/translations/de.json
  frontend/src/assets/i18n/translations/en.json
Owners: @TilBlechschmidt, @NoahPeeters, @hpr1999, @HenryWedge

Make survey tabs lazy
  frontend/src/app/survey/survey-tab-view/survey-tab-view.component.html
Owners: @TilBlechschmidt, @NoahPeeters, @hpr1999, @HenryWedge

Make survey tabs lazy
  frontend/src/app/survey/survey-tab-view/survey-tab-view.component.html
Owners: @TilBlechschmidt, @NoahPeeters, @hpr1999, @HenryWedge

docs: :memo: Document Angular live reload problem
  README.md
Owners: @TilBlechschmidt, @NoahPeeters, @hpr1999, @HenryWedge

docs: :memo: Document Angular live reload problem
  README.md
Owners: @TilBlechschmidt, @NoahPeeters, @hpr1999, @HenryWedge

:sparkles: add creator in survey view
  frontend/src/app/survey/detail/detail-view/detail-view.component.html
  frontend/src/app/survey/detail/detail-view/detail-view.component.ts
  frontend/src/assets/i18n/dev.json
  frontend/src/assets/i18n/translations/de.json
  frontend/src/assets/i18n/translations/en.json
Owners: @TilBlechschmidt, @NoahPeeters, @hpr1999, @HenryWedge

:sparkles: add error message on invalid date
  frontend/src/app/survey/detail/response/response.component.html
  frontend/src/assets/i18n/dev.json
  frontend/src/assets/i18n/translations/de.json
  frontend/src/assets/i18n/translations/en.json
Owners: @TilBlechschmidt, @NoahPeeters, @hpr1999, @HenryWedge

add logged in appbar
  frontend/src/app/appbar/appbar.component.html
  frontend/src/app/appbar/appbar.component.sass
  frontend/src/app/appbar/appbar.component.ts
  frontend/src/app/authentication/authentication-dialog/authentication-dialog.component.ts
  frontend/src/app/authentication/service/user-context.service.spec.ts
  frontend/src/app/authentication/service/user-context.service.ts
Owners: @TilBlechschmidt, @NoahPeeters, @hpr1999, @HenryWedge

:lipstick: improve style of create view
  frontend/src/app/authentication/authentication-dialog/authentication-dialog.component.ts
  frontend/src/app/authentication/service/user-context.service.ts
  frontend/src/app/survey/create/create-survey-dialog/create-survey-dialog.component.sass
  frontend/src/app/survey/detail/detail-view/detail-view.component.ts
  frontend/src/app/survey/detail/response/response.component.html
Owners: @TilBlechschmidt, @NoahPeeters, @hpr1999, @HenryWedge

:sparkles: add fixed appointments in dashboard
  frontend/src/app/authentication/service/user-context.service.ts
  frontend/src/app/survey/tabs/abstract-survey-table/abstract-survey-table.component.html
  frontend/src/app/survey/tabs/abstract-survey-table/abstract-survey-table.component.sass
  frontend/src/app/survey/tabs/abstract-survey-table/abstract-survey-table.component.spec.ts
  frontend/src/app/survey/tabs/dashboard/dashboard.component.html
  frontend/src/app/survey/tabs/dashboard/dashboard.component.sass
  frontend/src/app/survey/tabs/dashboard/dashboard.component.spec.ts
  frontend/src/assets/i18n/dev.json
  frontend/src/assets/i18n/translations/de.json
  frontend/src/assets/i18n/translations/en.json
Owners: @TilBlechschmidt, @NoahPeeters, @hpr1999, @HenryWedge

Remove deprecated directive
  frontend/angular.json
Owners: @TilBlechschmidt, @HenryWedge

Remove deprecated directive
  frontend/angular.json
Owners: @TilBlechschmidt, @HenryWedge

:sparkles: enable create timeslots in edit mode
  frontend/src/app/survey/create/create-survey-dialog/create-survey-dialog.component.html
  frontend/src/app/survey/create/create-survey-dialog/create-survey-dialog.component.ts
  frontend/src/app/survey/detail/detail-view/detail-view.component.html
  frontend/src/app/survey/detail/detail-view/detail-view.component.ts
  frontend/src/app/survey/detail/response/response.component.ts
Owners: @TilBlechschmidt, @NoahPeeters, @hpr1999, @HenryWedge

:bug: solve dashboard bugs
  frontend/src/app/survey/tabs/abstract-survey-table/abstract-survey-table.component.html
  frontend/src/app/survey/tabs/abstract-survey-table/abstract-survey-table.component.sass
  frontend/src/app/survey/tabs/abstract-survey-table/abstract-survey-table.component.ts
  frontend/src/app/survey/tabs/dashboard/dashboard.component.html
  frontend/src/assets/i18n/dev.json
  frontend/src/assets/i18n/translations/de.json
  frontend/src/assets/i18n/translations/en.json
Owners: @TilBlechschmidt, @NoahPeeters, @hpr1999, @HenryWedge

:bug: Squash a bunch of minor bugs
  frontend/src/app/survey/detail/detail-view/detail-view.component.html
  frontend/src/app/survey/detail/detail-view/detail-view.component.ts
  frontend/src/app/survey/detail/result-overview/result-overview.component.html
  frontend/src/app/survey/detail/result-overview/result-overview.component.sass
  frontend/src/app/survey/detail/result-overview/result-overview.component.ts
Owners: @TilBlechschmidt, @NoahPeeters, @hpr1999, @HenryWedge

:bug: Fix invalid boolean expression
  frontend/src/app/survey/detail/detail-view/detail-view.component.html
  frontend/src/app/survey/detail/result-overview/result-overview.component.html
Owners: @TilBlechschmidt, @NoahPeeters, @hpr1999, @HenryWedge

:bug: Squash a bunch of minor bugs
  frontend/src/app/survey/detail/detail-view/detail-view.component.html
  frontend/src/app/survey/detail/detail-view/detail-view.component.ts
  frontend/src/app/survey/detail/result-overview/result-overview.component.html
  frontend/src/app/survey/detail/result-overview/result-overview.component.sass
  frontend/src/app/survey/detail/result-overview/result-overview.component.ts
Owners: @TilBlechschmidt, @NoahPeeters, @hpr1999, @HenryWedge

:bug: Fix invalid boolean expression
  frontend/src/app/survey/detail/detail-view/detail-view.component.html
  frontend/src/app/survey/detail/result-overview/result-overview.component.html
Owners: @TilBlechschmidt, @NoahPeeters, @hpr1999, @HenryWedge

Send a mail to participants when a survey is closed
  backend/src/main/java/de/nordakademie/iaa/noodle/services/implementation/MailServiceImpl.java
  backend/src/main/java/de/nordakademie/iaa/noodle/services/implementation/SurveyServiceImpl.java
  backend/src/main/java/de/nordakademie/iaa/noodle/services/interfaces/MailService.java
  backend/src/test/java/de/nordakademie/iaa/noodle/services/MailServiceTest.java
Owners: @TilBlechschmidt, @NoahPeeters, @hpr1999, @HenryWedge

Remove skiped test
  backend/src/test/java/de/nordakademie/iaa/noodle/model/ParticipationTest.java
  backend/src/test/java/de/nordakademie/iaa/noodle/model/ResponseTest.java
  backend/src/test/java/de/nordakademie/iaa/noodle/model/ResponseTimeslotTest.java
  backend/src/test/java/de/nordakademie/iaa/noodle/model/SurveyTest.java
  backend/src/test/java/de/nordakademie/iaa/noodle/model/TimeslotTest.java
  backend/src/test/java/de/nordakademie/iaa/noodle/model/UserTest.java
Owners: @TilBlechschmidt, @NoahPeeters, @hpr1999, @HenryWedge

:bug: Fix timeslot range misformatting
  frontend/src/app/date.service.ts
  frontend/src/app/survey/close-survey/close-survey.component.html
  frontend/src/app/survey/close-survey/close-survey.component.ts
  frontend/src/app/survey/detail/detail-view/detail-view.component.html
  frontend/src/app/survey/detail/detail-view/detail-view.component.sass
  frontend/src/app/survey/detail/detail-view/detail-view.component.ts
  frontend/src/assets/i18n/dev.json
  frontend/src/assets/i18n/translations/de.json
  frontend/src/assets/i18n/translations/en.json
Owners: @TilBlechschmidt, @NoahPeeters, @hpr1999, @HenryWedge

:art: Replace redundant code
  frontend/src/app/survey/tabs/abstract-survey-table/abstract-survey-table.component.ts
Owners: @TilBlechschmidt, @NoahPeeters, @hpr1999, @HenryWedge

:art: Replace more redundant code
  frontend/src/app/survey/detail/result-overview/result-overview.component.html
  frontend/src/app/survey/detail/result-overview/result-overview.component.ts
Owners: @TilBlechschmidt, @NoahPeeters, @hpr1999, @HenryWedge

:rewind: Undo prior changes to fix linebreak issues
  frontend/src/app/survey/detail/result-overview/result-overview.component.html
  frontend/src/app/survey/detail/result-overview/result-overview.component.ts
Owners: @TilBlechschmidt, @NoahPeeters, @hpr1999, @HenryWedge

:rewind: Undo prior changes to fix linebreak issues
  frontend/src/app/survey/detail/result-overview/result-overview.component.html
  frontend/src/app/survey/detail/result-overview/result-overview.component.ts
Owners: @TilBlechschmidt, @NoahPeeters, @hpr1999, @HenryWedge

:bug: Fix timeslot range misformatting
  frontend/src/app/date.service.ts
  frontend/src/app/survey/close-survey/close-survey.component.html
  frontend/src/app/survey/close-survey/close-survey.component.ts
  frontend/src/app/survey/detail/detail-view/detail-view.component.html
  frontend/src/app/survey/detail/detail-view/detail-view.component.sass
  frontend/src/app/survey/detail/detail-view/detail-view.component.ts
  frontend/src/assets/i18n/dev.json
  frontend/src/assets/i18n/translations/de.json
  frontend/src/assets/i18n/translations/en.json
Owners: @TilBlechschmidt, @NoahPeeters, @hpr1999, @HenryWedge

:art: Replace redundant code
  frontend/src/app/survey/tabs/abstract-survey-table/abstract-survey-table.component.ts
Owners: @TilBlechschmidt, @NoahPeeters, @hpr1999, @HenryWedge

:art: Replace more redundant code
  frontend/src/app/survey/detail/result-overview/result-overview.component.html
  frontend/src/app/survey/detail/result-overview/result-overview.component.ts
Owners: @TilBlechschmidt, @NoahPeeters, @hpr1999, @HenryWedge

:sparkles: create survey validations
  frontend/src/app/date.service.ts
  frontend/src/app/survey/create/create-survey-dialog/create-survey-dialog.component.html
  frontend/src/app/survey/create/create-survey-dialog/create-survey-dialog.component.ts
  frontend/src/app/survey/detail/detail-view/detail-view.component.ts
  frontend/src/app/survey/detail/response/response.component.ts
  frontend/src/assets/i18n/dev.json
  frontend/src/assets/i18n/translations/de.json
  frontend/src/assets/i18n/translations/en.json
Owners: @TilBlechschmidt, @NoahPeeters, @hpr1999, @HenryWedge

Remove seconds from test data
  backend/src/main/resources/data.sql
Owners: @TilBlechschmidt, @NoahPeeters, @hpr1999, @HenryWedge

:sparkles: enable response toggle
  frontend/src/app/survey/create/create-survey-dialog/create-survey-dialog.component.ts
  frontend/src/app/survey/detail/detail-view/detail-view.component.html
  frontend/src/app/survey/detail/detail-view/detail-view.component.ts
  frontend/src/app/survey/detail/response/response.component.ts
  frontend/src/assets/i18n/translations/de.json
Owners: @TilBlechschmidt, @NoahPeeters, @hpr1999, @HenryWedge

:sparkles: add proper error messages while creating surveys
  frontend/src/app/survey/create/create-survey-dialog/create-survey-dialog.component.html
  frontend/src/app/survey/create/create-survey-dialog/create-survey-dialog.component.ts
  frontend/src/app/survey/detail/response/response.component.ts
  frontend/src/assets/i18n/dev.json
  frontend/src/assets/i18n/translations/de.json
  frontend/src/assets/i18n/translations/en.json
Owners: @TilBlechschmidt, @NoahPeeters, @hpr1999, @HenryWedge

:memo: Annotate API files with authors
  api/postprocess.ts
  api/specification/account/activate.ts
  api/specification/account/auth.ts
  api/specification/account/request.ts
  api/specification/account/types.ts
  api/specification/api.ts
  api/specification/surveys/close.ts
  api/specification/surveys/create.ts
  api/specification/surveys/delete.ts
  api/specification/surveys/get.ts
  api/specification/surveys/query.ts
  api/specification/surveys/responses/create.ts
  api/specification/surveys/responses/get.ts
  api/specification/surveys/responses/types.ts
  api/specification/surveys/responses/update.ts
  api/specification/surveys/types.ts
  api/specification/surveys/update.ts
  api/specification/types.ts
Owners: @TilBlechschmidt, @NoahPeeters, @hpr1999, @HenryWedge

:memo: Annotate API files with authors
  api/postprocess.ts
  api/specification/account/activate.ts
  api/specification/account/auth.ts
  api/specification/account/request.ts
  api/specification/account/types.ts
  api/specification/api.ts
  api/specification/surveys/close.ts
  api/specification/surveys/create.ts
  api/specification/surveys/delete.ts
  api/specification/surveys/get.ts
  api/specification/surveys/query.ts
  api/specification/surveys/responses/create.ts
  api/specification/surveys/responses/get.ts
  api/specification/surveys/responses/types.ts
  api/specification/surveys/responses/update.ts
  api/specification/surveys/types.ts
  api/specification/surveys/update.ts
  api/specification/types.ts
Owners: @TilBlechschmidt, @NoahPeeters, @hpr1999, @HenryWedge

.github/CODEOWNERS:

# These owners will be the default owners for everything in the repo.
*           @TilBlechschmidt @NoahPeeters @hpr1999 @HenryWedge

api/*       @TilBlechschmidt
backend/*   @NoahPeeters @hpr1999
frontend/*  @TilBlechschmidt @HenryWedge
