Repository TilBlechschmidt/NAK-IAA, changes with the owners that .github/CODEOWNERS names for each.
All owners: @TilBlechschmidt, @NoahPeeters, @hpr1999, @HenryWedge

.github/CODEOWNERS:

# These owners will be the default owners for everything in the repo.
*           @TilBlechschmidt @NoahPeeters @hpr1999 @HenryWedge

api/*       @TilBlechschmidt
backend/*   @NoahPeeters @hpr1999
frontend/*  @TilBlechschmidt @HenryWedge

Add ResponseQuery
  backend/src/main/java/de/nordakademie/iaa/noodle/controller/ResponseController.java
  backend/src/main/java/de/nordakademie/iaa/noodle/dao/ResponseRepository.java
  backend/src/main/java/de/nordakademie/iaa/noodle/services/ResponseService.java
  backend/src/test/java/de/nordakademie/iaa/noodle/controller/ResponseControllerTest.java
  backend/src/test/java/de/nordakademie/iaa/noodle/dao/ResponseRepositoryTest.java
Owners: @TilBlechschmidt, @NoahPeeters, @hpr1999, @HenryWedge

:clown_face: Switch to modified code generator and add mock data
  api/mockData/activateUser.json
  api/mockData/authenticate.json
  api/mockData/closeSurvey.json
  api/mockData/common/response.json
  api/mockData/common/survey.json
  api/mockData/createResponse.json
  api/mockData/createSurvey.json
  api/mockData/createUser.json
  api/mockData/deleteSurvey.json
  api/mockData/queryResponse.json
  api/mockData/querySurvey.json
  api/mockData/querySurveys.json
  api/mockData/requestRegistrationEmail.json
  api/mockData/updateResponse.json
  api/mockData/updateSurvey.json
  api/package.json
  api/yarn.lock
Owners: @TilBlechschmidt, @NoahPeeters, @hpr1999, @HenryWedge

:wrench: Disallow console.log and run linter in pipeline
  .github/workflows/test.yml
  frontend/tslint.json
Owners: @TilBlechschmidt, @NoahPeeters, @hpr1999, @HenryWedge

:arrow_up: Bump code-gen to latest version for dependency injection capability
  api/package.json
  api/yarn.lock
Owners: @TilBlechschmidt

:wrench: Disallow console.log and run linter in pipeline
  .github/workflows/test.yml
  frontend/tslint.json
Owners: @TilBlechschmidt, @NoahPeeters, @hpr1999, @HenryWedge

:arrow_up: Bump code-gen to latest version for dependency injection capability
  api/package.json
  api/yarn.lock
Owners: @TilBlechschmidt

:clown_face: Switch to modified code generator and add mock data
  api/mockData/activateUser.json
  api/mockData/authenticate.json
  api/mockData/closeSurvey.json
  api/mockData/common/response.json
  api/mockData/common/survey.json
  api/mockData/createResponse.json
  api/mockData/createSurvey.json
  api/mockData/createUser.json
  api/mockData/deleteSurvey.json
  api/mockData/queryResponse.json
  api/mockData/querySurvey.json
  api/mockData/querySurveys.json
  api/mockData/requestRegistrationEmail.json
  api/mockData/updateResponse.json
  api/mockData/updateSurvey.json
  api/package.json
  api/yarn.lock
Owners: @TilBlechschmidt, @NoahPeeters, @hpr1999, @HenryWedge

:whale: Add custom reverse-proxy container
  docker-compose.yml
  reverse-proxy/Caddyfile
  reverse-proxy/Dockerfile
Owners: @TilBlechschmidt, @NoahPeeters, @hpr1999, @HenryWedge

:whale: Add custom reverse-proxy container
  docker-compose.yml
  reverse-proxy/Caddyfile
  reverse-proxy/Dockerfile
Owners: @TilBlechschmidt, @NoahPeeters, @hpr1999, @HenryWedge

:whale: Add generated code to .dockerignore
  .dockerignore
Owners: @TilBlechschmidt, @NoahPeeters, @hpr1999, @HenryWedge

:whale: Add generated code to .dockerignore
  .dockerignore
Owners: @TilBlechschmidt, @NoahPeeters, @hpr1999, @HenryWedge

fix: :sparkles: Correct Queries for false values
  backend/src/main/java/de/nordakademie/iaa/noodle/dao/SurveyRepository.java
Owners: @TilBlechschmidt, @NoahPeeters, @hpr1999, @HenryWedge

fix: :construction: Implement Query for false values
  backend/src/main/java/de/nordakademie/iaa/noodle/dao/SurveyRepository.java
Owners: @TilBlechschmidt, @NoahPeeters, @hpr1999, @HenryWedge

test: :card_file_box: Change import data to make it future-proof
  backend/src/main/resources/data.sql
Owners: @TilBlechschmidt, @NoahPeeters, @hpr1999, @HenryWedge

test: :white_check_mark: Test the new Mega-Query
  backend/src/test/java/de/nordakademie/iaa/noodle/dao/SurveyRepositoryTest.java
Owners: @TilBlechschmidt, @NoahPeeters, @hpr1999, @HenryWedge

fix: :construction: Fix queries for upcoming and attention needed by.
  backend/src/main/java/de/nordakademie/iaa/noodle/dao/SurveyRepository.java
Owners: @TilBlechschmidt, @NoahPeeters, @hpr1999, @HenryWedge

docs: :bulb: Explain the huge JPQL Query
  backend/src/main/java/de/nordakademie/iaa/noodle/dao/SurveyRepository.java
Owners: @TilBlechschmidt, @NoahPeeters, @hpr1999, @HenryWedge

test: :card_file_box: Make a Survey in the test data upcoming
  backend/src/main/resources/data.sql
Owners: @TilBlechschmidt, @NoahPeeters, @hpr1999, @HenryWedge

feat: :construction: Add big Survey Query
  backend/src/main/java/de/nordakademie/iaa/noodle/dao/SurveyRepository.java
Owners: @TilBlechschmidt, @NoahPeeters, @hpr1999, @HenryWedge

:bug: Remove symlinks for those windows people which don't support them
  api/mockData/closeSurvey.json
  api/mockData/common/response.json
  api/mockData/common/survey.json
  api/mockData/createResponse.json
  api/mockData/deleteSurvey.json
  api/mockData/queryResponse.json
  api/mockData/updateResponse.json
  api/mockData/updateSurvey.json
Owners: @TilBlechschmidt, @NoahPeeters, @hpr1999, @HenryWedge

:bug: Remove symlinks for those windows people which don't support them
  api/mockData/closeSurvey.json
  api/mockData/common/response.json
  api/mockData/common/survey.json
  api/mockData/createResponse.json
  api/mockData/deleteSurvey.json
  api/mockData/queryResponse.json
  api/mockData/updateResponse.json
  api/mockData/updateSurvey.json
Owners: @TilBlechschmidt, @NoahPeeters, @hpr1999, @HenryWedge

Update survey create and update endpoints
  api/mockData/closeSurvey.json
  api/mockData/deleteSurvey.json
  api/mockData/querySurvey.json
  api/mockData/updateSurvey.json
  api/specification/surveys/create.ts
  api/specification/surveys/types.ts
  api/specification/surveys/update.ts
  backend/src/main/java/de/nordakademie/iaa/noodle/controller/SurveyController.java
  backend/src/test/java/de/nordakademie/iaa/noodle/controller/SurveyControllerTest.java
Owners: @TilBlechschmidt, @NoahPeeters, @hpr1999, @HenryWedge

:lipstick: add authentication html components
  frontend/angular.json
  frontend/package.json
  frontend/src/app/app-routing.module.ts
  frontend/src/app/app.component.html
  frontend/src/app/app.module.ts
  frontend/src/app/appbar/appbar.component.html
  frontend/src/app/appbar/appbar.component.sass
  frontend/src/app/appbar/appbar.component.spec.ts
  frontend/src/app/appbar/appbar.component.ts
  frontend/src/app/authentication/authentication-button/authentication-button.component.html
  frontend/src/app/authentication/authentication-button/authentication-button.component.sass
  frontend/src/app/authentication/authentication-button/authentication-button.component.spec.ts
  frontend/src/app/authentication/authentication-button/authentication-button.component.ts
  frontend/src/app/authentication/authentication-dialog/authentication-dialog.component.html
  frontend/src/app/authentication/authentication-dialog/authentication-dialog.component.sass
  frontend/src/app/authentication/authentication-dialog/authentication-dialog.component.spec.ts
  frontend/src/app/authentication/authentication-dialog/authentication-dialog.component.ts
  frontend/src/app/authentication/registration-button/registration-button.component.html
  frontend/src/app/authentication/registration-button/registration-button.component.sass
  frontend/src/app/authentication/registration-button/registration-button.component.spec.ts
  frontend/src/app/authentication/registration-button/registration-button.component.ts
  frontend/src/app/authentication/registration-dialog/registration-dialog.component.html
  frontend/src/app/authentication/registration-dialog/registration-dialog.component.sass
  frontend/src/app/authentication/registration-dialog/registration-dialog.component.spec.ts
  frontend/src/app/authentication/registration-dialog/registration-dialog.component.ts
  frontend/src/custom-theme.scss
  frontend/src/index.html
  frontend/yarn.lock
Owners: @TilBlechschmidt, @HenryWedge, @NoahPeeters, @hpr1999

:lock: :sparkles: add registration page
  frontend/src/app/app.module.ts
  frontend/src/app/authentication/registration-dialog/registration-dialog.component.html
  frontend/src/app/authentication/registration-dialog/registration-dialog.component.ts
  frontend/tsconfig.json
Owners: @TilBlechschmidt, @NoahPeeters, @hpr1999, @HenryWedge

:memo: :sparkles: add i18n
  frontend/package.json
  frontend/src/app/app.module.ts
  frontend/src/app/appbar/appbar.component.html
  frontend/src/app/appbar/appbar.component.ts
  frontend/src/app/authentication/authentication-button/authentication-button.component.html
  frontend/src/app/authentication/authentication-dialog/authentication-dialog.component.html
  frontend/src/app/authentication/registration-button/registration-button.component.html
  frontend/src/app/authentication/registration-dialog/registration-dialog.component.html
  frontend/src/app/authentication/registration-dialog/registration-dialog.component.ts
  frontend/src/app/survey/create/create-survey-dialog/create-survey-dialog.component.html
  frontend/src/app/survey/create/new-survey-button/new-survey-button.component.html
  frontend/src/app/survey/survey-tab-view/survey-tab-view.component.html
  frontend/src/assets/i18n/dev.json
  frontend/src/assets/i18n/translations/de.json
  frontend/src/assets/i18n/translations/en.json
  frontend/yarn.lock
Owners: @TilBlechschmidt, @HenryWedge, @NoahPeeters, @hpr1999

:white_check_mark: fix component tests
  frontend/package.json
  frontend/src/app/app-routing.module.ts
  frontend/src/app/app.component.spec.ts
  frontend/src/app/app.module.ts
  frontend/src/app/appbar/appbar.component.html
  frontend/src/app/appbar/appbar.component.spec.ts
  frontend/src/app/appbar/appbar.component.ts
  frontend/src/app/authentication/authentication-button/authentication-button.component.spec.ts
  frontend/src/app/authentication/authentication-dialog/authentication-dialog.component.html
  frontend/src/app/authentication/authentication-dialog/authentication-dialog.component.spec.ts
  frontend/src/app/authentication/authentication-dialog/authentication-dialog.component.ts
  frontend/src/app/authentication/logout-button/logout-button.component.html
  frontend/src/app/authentication/logout-button/logout-button.component.sass
  frontend/src/app/authentication/logout-button/logout-button.component.spec.ts
  frontend/src/app/authentication/logout-button/logout-button.component.ts
  frontend/src/app/authentication/registration-button/registration-button.component.spec.ts
  frontend/src/app/authentication/registration-dialog/registration-dialog.component.sass
  frontend/src/app/authentication/registration-dialog/registration-dialog.component.spec.ts
  frontend/src/app/authentication/service/LoggedInGuard.ts
  frontend/src/app/authentication/service/auth-service.service.spec.ts
  frontend/src/app/authentication/service/token.service.ts
  frontend/src/app/survey/create/create-survey-dialog/create-survey-dialog.component.spec.ts
  frontend/src/app/survey/create/new-survey-button/new-survey-button.component.spec.ts
  frontend/src/app/survey/create/new-survey-button/new-survey-button.component.ts
  frontend/src/app/survey/detail/delete-survey/delete-survey.component.html
  frontend/src/app/survey/detail/delete-survey/delete-survey.component.sass
  frontend/src/app/survey/detail/delete-survey/delete-survey.component.spec.ts
  frontend/src/app/survey/detail/delete-survey/delete-survey.component.ts
  frontend/src/app/survey/detail/detail-view/detail-view.component.html
  frontend/src/app/survey/detail/detail-view/detail-view.component.sass
  frontend/src/app/survey/detail/detail-view/detail-view.component.spec.ts
  frontend/src/app/survey/detail/detail-view/detail-view.component.ts
  frontend/src/app/survey/survey-tab-view/survey-tab-view.component.spec.ts
  frontend/src/assets/i18n/dev.json
  frontend/src/assets/i18n/translations/de.json
  frontend/src/assets/i18n/translations/en.json
  frontend/yarn.lock
Owners: @TilBlechschmidt, @HenryWedge, @NoahPeeters, @hpr1999

review changes
  frontend/src/app/app-routing.module.ts
  frontend/src/app/app.module.ts
  frontend/src/app/appbar/appbar.component.spec.ts
  frontend/src/app/appbar/appbar.component.ts
  frontend/src/app/authentication/authentication-button/authentication-button.component.spec.ts
  frontend/src/app/authentication/authentication-dialog/authentication-dialog.component.spec.ts
  frontend/src/app/authentication/authentication-dialog/authentication-dialog.component.ts
  frontend/src/app/authentication/logout-button/logout-button.component.spec.ts
  frontend/src/app/authentication/logout-button/logout-button.component.ts
  frontend/src/app/authentication/registration-button/registration-button.component.spec.ts
  frontend/src/app/authentication/registration-dialog/registration-dialog.component.spec.ts
  frontend/src/app/authentication/registration-dialog/registration-dialog.component.ts
  frontend/src/app/authentication/service/LoggedInGuard.ts
  frontend/src/app/authentication/service/token.service.ts
  frontend/src/app/survey/create/create-survey-dialog/create-survey-dialog.component.spec.ts
  frontend/src/app/survey/create/create-survey-dialog/create-survey-dialog.component.ts
  frontend/src/app/survey/create/new-survey-button/new-survey-button.component.spec.ts
  frontend/src/app/survey/create/new-survey-button/new-survey-button.component.ts
  frontend/src/app/survey/detail/delete-survey/delete-survey.component.spec.ts
  frontend/src/app/survey/detail/delete-survey/delete-survey.component.ts
  frontend/src/app/survey/detail/detail-view/detail-view.component.spec.ts
  frontend/src/app/survey/detail/detail-view/detail-view.component.ts
  frontend/src/app/survey/survey-tab-view/survey-tab-view.component.spec.ts
  frontend/src/app/survey/tabs/dashboard/notification/notification.component.ts
  frontend/src/app/survey/tabs/fixed-appointment-view/fixed-appointment-view.component.ts
  frontend/tsconfig.json
Owners: @TilBlechschmidt, @NoahPeeters, @hpr1999, @HenryWedge

:lipstick: change the theme
  frontend/src/app/app.component.html
  frontend/src/app/authentication/authentication-button/authentication-button.component.html
  frontend/src/app/authentication/authentication-dialog/authentication-dialog.component.sass
  frontend/src/app/authentication/registration-button/registration-button.component.html
  frontend/src/app/authentication/registration-dialog/registration-dialog.component.sass
  frontend/src/app/survey/create/new-survey-button/new-survey-button.component.html
  frontend/src/app/survey/create/new-survey-button/new-survey-button.component.sass
  frontend/src/app/survey/detail/detail-view/detail-view.component.html
  frontend/src/app/survey/detail/detail-view/detail-view.component.sass
  frontend/src/app/survey/detail/detail-view/detail-view.component.ts
  frontend/src/app/survey/survey-tab-view/survey-tab-view.component.html
  frontend/src/app/survey/survey-tab-view/survey-tab-view.component.sass
  frontend/src/custom-theme.scss
  frontend/src/index.html
Owners: @TilBlechschmidt, @NoahPeeters, @hpr1999, @HenryWedge

:fire: remove e2e tests
  frontend/e2e/src/app.e2e-spec.ts
  frontend/e2e/src/app.po.ts
Owners: @TilBlechschmidt, @NoahPeeters, @hpr1999, @HenryWedge

:recycle: abstract the table logic in one component
  frontend/src/app/survey/tabs/fixed-appointment-view/fixed-appointment-view.component.ts
  frontend/src/app/survey/tabs/tables/abstractSurveyTable.component.ts
Owners: @TilBlechschmidt, @NoahPeeters, @hpr1999, @HenryWedge

:sparkles: add survey table views
  frontend/src/app/app.module.ts
  frontend/src/app/authentication/authentication-dialog/authentication-dialog.component.html
  frontend/src/app/authentication/registration-dialog/registration-dialog.component.html
  frontend/src/app/survey/survey-tab-view/survey-tab-view.component.html
  frontend/src/app/survey/survey-tab-view/survey-tab-view.component.ts
  frontend/src/app/survey/tabs/abstract-survey-table/abstract-survey-table.component.html
  frontend/src/app/survey/tabs/abstract-survey-table/abstract-survey-table.component.sass
  frontend/src/app/survey/tabs/abstract-survey-table/abstract-survey-table.component.spec.ts
  frontend/src/app/survey/tabs/abstract-survey-table/abstract-survey-table.component.ts
  frontend/src/app/survey/tabs/fixed-appointment-view/fixed-appointment-view.component.html
  frontend/src/app/survey/tabs/fixed-appointment-view/fixed-appointment-view.component.spec.ts
  frontend/src/assets/i18n/dev.json
  frontend/src/assets/i18n/translations/de.json
  frontend/src/assets/i18n/translations/en.json
  frontend/src/custom-theme.scss
Owners: @TilBlechschmidt, @NoahPeeters, @hpr1999, @HenryWedge

:sparkles: :lock: remove unused code
  frontend/src/app/app.module.ts
  frontend/src/app/survey/detail/delete-survey/delete-survey.component.ts
  frontend/src/app/survey/detail/detail-view/detail-view.component.ts
Owners: @TilBlechschmidt, @NoahPeeters, @hpr1999, @HenryWedge

:sparkles: add create survey view and refactor edit survey
  frontend/src/app/app.module.ts
  frontend/src/app/survey/create/create-survey-dialog/create-survey-dialog.component.html
  frontend/src/app/survey/create/create-survey-dialog/create-survey-dialog.component.sass
  frontend/src/app/survey/create/create-survey-dialog/create-survey-dialog.component.ts
  frontend/src/app/survey/create/new-survey-button/new-survey-button.component.ts
  frontend/src/app/survey/detail/delete-survey/delete-survey.component.ts
  frontend/src/app/survey/detail/detail-view/detail-view.component.html
  frontend/src/app/survey/detail/detail-view/detail-view.component.sass
  frontend/src/app/survey/detail/detail-view/detail-view.component.ts
  frontend/src/app/survey/detail/edit-view/edit-survey-warn.component.html
  frontend/src/app/survey/detail/edit-view/edit-survey-warn.component.sass
  frontend/src/app/survey/detail/edit-view/edit-survey-warn.component.spec.ts
  frontend/src/app/survey/detail/edit-view/edit-survey-warn.component.ts
  frontend/src/app/survey/tabs/abstract-survey-table/abstract-survey-table.component.ts
  frontend/src/app/survey/tabs/dashboard/notification/notification.component.html
  frontend/src/app/survey/tabs/dashboard/notification/notification.component.sass
  frontend/src/app/survey/tabs/dashboard/notification/notification.component.ts
  frontend/src/assets/i18n/dev.json
  frontend/src/assets/i18n/translations/de.json
  frontend/src/assets/i18n/translations/en.json
Owners: @TilBlechschmidt, @NoahPeeters, @hpr1999, @HenryWedge

Fix tests
  frontend/src/app/survey/create/create-survey-dialog/create-survey-dialog.component.spec.ts
  frontend/src/app/survey/create/create-survey-dialog/create-survey-dialog.component.ts
  frontend/src/app/survey/detail/detail-view/detail-view.component.ts
  frontend/src/app/survey/detail/edit-view/edit-survey-warn.component.spec.ts
  frontend/src/app/survey/survey-tab-view/survey-tab-view.component.spec.ts
  frontend/src/app/survey/tabs/abstract-survey-table/abstract-survey-table.component.spec.ts
  frontend/src/app/survey/tabs/abstract-survey-table/abstract-survey-table.component.ts
  frontend/src/app/survey/tabs/dashboard/notification/notification.component.spec.ts
  frontend/src/app/survey/tabs/dashboard/notification/notification.component.ts
Owners: @TilBlechschmidt, @NoahPeeters, @hpr1999, @HenryWedge

Fix linter issues
  frontend/src/app/survey/create/create-survey-dialog/create-survey-dialog.component.spec.ts
  frontend/src/app/survey/create/create-survey-dialog/create-survey-dialog.component.ts
  frontend/src/app/survey/detail/detail-view/detail-view.component.ts
  frontend/src/app/survey/detail/edit-view/edit-survey-warn.component.spec.ts
  frontend/src/app/survey/detail/edit-view/edit-survey-warn.component.ts
  frontend/src/app/survey/survey-tab-view/survey-tab-view.component.spec.ts
  frontend/src/app/survey/survey-tab-view/survey-tab-view.component.ts
  frontend/src/app/survey/tabs/abstract-survey-table/abstract-survey-table.component.spec.ts
  frontend/src/app/survey/tabs/dashboard/notification/notification.component.spec.ts
Owners: @TilBlechschmidt, @NoahPeeters, @hpr1999, @HenryWedge

:heavy_minus_sign: Remove mistakenly added react material-ui dependency
  frontend/package.json
  frontend/yarn.lock
Owners: @TilBlechschmidt, @HenryWedge

:arrow_up: Bump code-gen dependency version for mock-injection
  api/package.json
  api/yarn.lock
  frontend/src/environments/environment.staging.ts
Owners: @TilBlechschmidt, @NoahPeeters, @hpr1999, @HenryWedge

:wrench: Enable mocked ApiModule conditionally in dev-mode
  frontend/src/app/app.module.ts
  frontend/src/environments/environment.prod.ts
  frontend/src/environments/environment.staging.ts
  frontend/src/environments/environment.ts
Owners: @TilBlechschmidt, @NoahPeeters, @hpr1999, @HenryWedge

:rotating_light: Fix quotation marks
  frontend/src/app/app.module.ts
Owners: @TilBlechschmidt, @NoahPeeters, @hpr1999, @HenryWedge

:heavy_minus_sign: Remove mistakenly added react material-ui dependency
  frontend/package.json
  frontend/yarn.lock
Owners: @TilBlechschmidt, @HenryWedge
